/* @group Admin icon */

#menu-posts-bbl_job .wp-menu-image img {
	display: none;
}

#menu-posts-bbl_job .wp-menu-image {
    background: url(../images/admin-icon-clipboard.png) no-repeat 7px 2px !important;
}

#menu-posts-bbl_job:hover .wp-menu-image, 
#menu-posts-bbl_job.wp-has-current-submenu .wp-menu-image {
    background-position:7px -28px !important;
}

#icon-edit.icon32-posts-bbl_job {
	background: url(../images/admin-icon-clipboard-32px.png) no-repeat !important;
}

/* @end */
