/* @group Admin icon */

#menu-posts-bbl_job .wp-menu-image img {
	display: none;
}

#menu-posts-bbl_job .wp-menu-image {
    background: url(../images/admin-icon-clipboard.png) no-repeat 7px 2px !important;
}

#menu-posts-bbl_job:hover .wp-menu-image, 
#menu-posts-bbl_job.wp-has-current-submenu .wp-menu-image {
    background-position:7px -28px !important;
}

#icon-edit.icon32-posts-bbl_job {
	background: url(../images/admin-icon-clipboard-32px.png) no-repeat !important;
}

/* @end */

body.bbl-post-type-bbl_job .postbox-container {
	display: none;
}

body.bbl-post-type-bbl_job #poststuff #post-body {
	margin-right: 0;
}

#bbl-translation-editor .bbl-translation-property {
	float: left;
	width: 49%;
}

#bbl-translation-editor .bbl-translation-original {
	float: right;
	width: 49%;
}

#bbl-translation-editor .bbl-translation-group {
	border-top: 1px solid #ddd; /* FIXME: We should hook into the WP colours at this point, particularly with MP6 */
	margin-top: 20px;
	padding-top: 15px;
}

#bbl-translation-editor .bbl-translation-group:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}

#bbl-translation-editor .bbl-translation-section {
	clear: both;
	/* @TODO change to clearfix */
	overflow: auto;
	margin-bottom: 10px;
}

#bbl-translation-editor .bbl-translation-section-post_title,
#bbl-translation-editor .bbl-translation-section-post_content {
	margin-bottom: 30px;
}


#bbl-translation-editor .bbl-translation-property textarea,
#bbl-translation-editor .bbl-translation-original textarea {
	box-sizing: border-box;
	resize: vertical;
	height: 12em;
	width: 100%;
	margin: 0;
	display: block;
}

#bbl-translation-editor .bbl-translation-property input[type="text"],
#bbl-translation-editor .bbl-translation-original input[type="text"] {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}

#bbl-translation-editor .bbl-translation-property-post_content textarea,
#bbl-translation-editor .bbl-translation-original-post_content textarea {
	height: auto;
}

#bbl-translation-editor .bbl-translation-property-post_title input {
	width: 100%;
	box-sizing: border-box;
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 115%;
	margin: 0;
}

#bbl-translation-editor .bbl-translation-original-post_title {
	font-size: 1.7em;
	line-height: 115%;
	padding-top: 4px;
}

#bbl-translation-editor .bbl-translation-submit {
	width: 50%;
	/*float: right;*/
}

#bbl-translation-editor .bbl-translation-original-term_name {
	padding-top: 4px;
}

#bbl-translation-editor .meta-box-sortables .inside {
	/* @TODO change to clearfix */
	overflow: auto;;
}

#bbl-translation-editor .meta-box-sortables .inside h4 {
	margin: 5px 0 0;
}
