language: php

notifications:
    on_success: never
    on_failure: change

php:
    - 5.6
    - 5.3
    - 5.2
    - hhvm

env:
    # latest stable:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1
    # previous stable:
    - WP_VERSION=4.1 WP_MULTISITE=0
    - WP_VERSION=4.1 WP_MULTISITE=1
    # earliest supported:
    - WP_VERSION=4.0 WP_MULTISITE=0
    - WP_VERSION=4.0 WP_MULTISITE=1

before_script:
    - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script:
    # PHP Linting
    - if [[ "$WP_VERSION" == "latest" ]]; then find . -name \*.php -not -path "./vendor/*" -print0 | xargs -0 -n 1 -P 4 php -d display_errors=stderr -l > /dev/null; fi;

    - phpunit
